:root {
    --link-color: rgb(69, 58, 70);
    --font-color: rgb(46, 44, 44);
    --odin-color: #cc9543;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 65px;
    border: solid 1px grey;
    border-bottom: hidden;
    background-color:white;
    display:flex;
    flex-shrink: 1;
    /* background: url("https://thumbs.dreamstime.com/b/delicate-pink-marble-background-gold-brushstrokes-place-your-design-144989465.jpg"); */
}

#logo-img {
    height: 80%;
    position: relative;
    top: 5px;
    left: 15px; 
}

#logo-text{
    display:flex;
}


#nav-links{
    line-height: 65px;   
    display: flex;
    align-items: center;
}

nav a{
    padding: 20px;
    text-decoration: none;
    color: var(--link-color);
    text-shadow: 0 0 10px white;
    font-size:20px;
}

a:first-child{
    font-family:'Skranji', cursive;
    letter-spacing: 0.4px;
    color: var(--odin-color);
}

nav a:hover{
    color: var(--odin-color);
    /* text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(250, 143, 227),
    0 0 80px rgb(250, 143, 227),
    0 0 90px rgb(250, 143, 227),
    0 0 100px rgb(250, 143, 227),
    0 0 150px rgb(250, 143, 227); */
}

.section{
    display:flex;
    flex-direction:row;
    color: var(--font-color);
} 

section{
    border: solid 1px grey;
    width: 100vw;
    height: 88vh;
}

#section_1 {
    background: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F4473988.jpg&w=596&h=596&c=sc&poi=face&q=85") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}


#name-div{
    /*box */
    height: 100px;
    width: auto;
    padding: 20px;
    margin-top: 40px;
   background: rgba(255, 255, 255, 0.50); 
    
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
    outline-offset: -10px;
} 

 h1{
    /* font */
    line-height: 40px;
    text-shadow: 0 0 10px white;
    color: --font-color;
    font-size: 2rem;
   font-family: 'Frank Ruhl Libre', serif;
   /* text-align-last:center;  Maybe remove*/
}

#section_2{
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255,0), rgba(55, 119, 179,1));
    background: url("https://media.istockphoto.com/photos/white-marble-texture-for-background-picture-id1271849617?b=1&k=20&m=1271849617&s=170667a&w=0&h=WYd2lSX75V01mgEQ3XOimr42tkUEg6uGCzi1NlBmqsw=");
    display: flex;
    flex-direction: column;
    background-size: cover;
    font-size: 16px;
}

#section_2 div{
    margin: 10px;   
}

#time-div, #nutrition-div {
    height: auto;
    width: 50vw;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    border: 1px solid grey;
    flex-flow:wrap;
}

#time-div div, #nutrition-div div, #ingredients-div, #steps-div{
    margin: 10px;
    font-size: 16px;
}

#steps{
    padding: 0px 10px;
    margin-left: 5px;
    margin-top:50px;
    background-color: rgb(230, 221, 218);
}

/* to do - make page fully responsive at multiple view port sizes */

@media screen and (max-width: 500px) {
    nav {
        height: auto;
    }
    nav a {
      float: none;
      display: block;
    }

    #logo-img {
        display:none;
    }

    #logo-text{
        display:inline;
    }
    .section{
        flex-direction:column;
        overflow:auto;
    }
}